/* index.css */

.main-item-link {
    text-decoration: none;
    color: #2e6930;
  }


  

  
  .main-item {
    border: 0px solid #ccc;
    color:green;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
   
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.1px);
-webkit-backdrop-filter: blur(2.1px);
  }
  
  .main-item li {
    color: #2e6930; /* Apply the color to the li elements */
  }
  
  .main-item-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .main-item-description {
    font-size: 14px;
    color: #fff;
  }
  
  /* Add more styles as needed */
  